exportPattern("^[[:alpha:]]+")
S3method(plot, paleoTS)
importFrom(mnormt, dmnorm)
import(foreach)
import(iterators)
importFrom("graphics", "abline", "lines", "mtext", "plot", "points",
             "polygon", "segments", "text", "title")
importFrom("stats", "anova", "coef", "cor", "dnorm", "lm", "median",
             "optim", "pchisq", "resid", "rnorm", "var")
importFrom("utils", "combn", "read.table")
